<div class="container card text-dark bg-light mb-3" style="max-width: 40rem;">
    <div class="card-body">
        <h3 class="text-center">Your order was placed</h3>
        <a class="text-center btn btn-primary float-right mt-3" asp-controller="Order" asp-action="Index">Return to products</a>
    </div>
</div>

