@page
@model eShop.AdminUI.Pages.Authentication.LoginModel

<div class="div-center-screen h-75 w-50">
    <div class="card shadow">
        <div class="card-body">
            <div class="">
                <h4 class="card-title">Login</h4>
            </div>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="LoginRequest.Username">Username</label>
                    <input class="form-control" asp-for="LoginRequest.Username">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="LoginRequest.Password">Password</label>
                    <input class="form-control" asp-for="LoginRequest.Password" type="password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

