@using System.Globalization
@using eShop.WebUI.ViewModels.Products
@model IndexViewModel;

<div class="row ">
    @foreach (var product in Model.ProductsVM.Products)
    {
        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
            <div class="card h-100 shadow mx-auto" style="width: 17rem;">
                <img src=@product.ImagePath class="card-img-top d-flex justify-content-center" style="width: 17rem; height: 15rem">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price.ToString("C", CultureInfo.CurrentCulture)</p>
                    <div class="row">
                        <button class="btn btn-primary add-to-basket-button" value="@product.Id">Add to basket</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
<script>
    $('.add-to-basket-button').click(function(){

        let productId = $(this).attr("value");

        $.ajax({
           url: '/Products/AddToBasket',
           type: 'POST',
           contentType: 'application/x-www-form-urlencoded',
           headers: {
              RequestVerificationToken:
                  $('input:hidden[name="__RequestVerificationToken"]').val()
           },
           data: {Id : productId},
           success: function( data, textStatus, jQxhr ){

               if(data.status === '401'){
                   window.location.href = "/Authentication/Login?returnUrl=/Products/Index";
               }
               else if(data.success){
                   alert("Item added to basket");
               }
               else{
                   alert("Item was not added to basket");
               }
            },
           error: function( jqXhr, textStatus, errorThrown ){
                alert("error when trying to add to basket");
            }
        });
    })

</script>
}