@model List<SelectListItem>

<div class="modal fade" id="move-product-by-id-modal" tabindex="-1" aria-labelledby="move-product-by-id-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="move-product-by-id-modal-label">Move product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Choose the category you want to move the product to.</p>

                <select id="destine-category-dropdown-modal-by-id" asp-items="Model" class="form-select"></select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="move-product-by-id-confirm-button">Confirm</button>
            </div>
        </div>
    </div>
</div>